.dashboard {
    display: flex;
    height: 100vh;
}

.dashboard__main {
    flex: 1;
    background-color: #ffffff;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 2rem;
    margin-left: 250px; /* Space for sidebar */
}
